/*Reiniciar los estilos bases de la pagina*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

/*ESTILOS Footer*/

.footerContenedor{
    width: 100%;
    height: 180px;
    padding: 0 200px;
    background-color: #121212;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
}

.canvaL {
    width: 30%;
    height: 110px;
    font-size: 3.5rem;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: white;
    display: flex;
    align-items: center;
    align-content: flex-end;
}

.canvaM {
    width: 30%;
    height: 110px;
}
        
.canvaM .listContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.canvaM li{
    list-style:none;
    margin: 50px; 
}

.canvaM a{
    text-decoration: none;
    font-size: 3.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: white;
}

.canvaR {
    width: 30%;
    height: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-left: 5%;
}

.canvaR .facebook{
    margin-left: 5%;
}

.canvaR .whatsapp{
    margin-left: 5%;
}