/* primero reiniciamos los estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    font-size:62.5%;
    background-color: rgb(26, 0, 27);
}

/*PLANTILLA HEADER*/
.header{
    width: 100%  !important;
    height: 362px  !important;
}
